/* Reset some default styles for consistency */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000; /* Black background */
    color: #fff; /* White text */
}

header {
    background-color: #000; /* Header background color */
    color: #fff; /* Header text color */
    padding: 20px;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.project {
    margin-bottom: 30px;
    background-color: #000; /* Project background color */

    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Project box shadow */
}

.project-image {
    position: relative;
}

.project-image img {
    width: 100%;
    height: auto;
}

.image-nav {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    transform: translateY(-50%);
}

.prev,
.next {
    background-color: #fff; /* Button background color */
    color: #fff; /* Button text color */
    border: none;
    padding: 8px 16px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 24px; /* Icon size */
}

.prev i,
.next i {
    font-size: 24px; /* Icon size */
}

.project-description {
    padding: 20px;
}
